.noticias {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.noticias h2 {
    color: var(--blue);
    font-size: 2.0rem;
    font-weight: bold;
}
.noticias--container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;
}
.noticias--container .salto {
    white-space: pre-wrap;
    color: var(--white);
}