.congraBox {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 25px;
    border: 15px solid #2E2868;
    border-radius: 25px;
}
.congraBox h3 {
    color: var(--blue);
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
}