.agendar {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 25px;
    margin: 0 auto 50px auto;
    padding: 25px;
}